<a href="https://colab.research.google.com/github/nirajpalve/Vehicle-Insurance-Prediction/blob/main/Vehicle_Insurance_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center><font color = 'darkgreen'><b> VEHICLE INSURANCE</b></font></center>

![](https://github.com/nirajpalve/Vehicle-Insurance-Prediction/raw/main/download.png)

## <font color = ''><b>1 <span style='color:#0386f7de'>|</span> Importing Libraries & Loading Dataset</b></font>
- **`For Data Manipulation`**: numpy, pandas, sklearn.
- **`For Data Visualization`**: matplotlib, seaborn, plotly.
- **`For ML Models`**: sklearn.

In [ ]:
import numpy as np      
import pandas as pd                  ## Importing Libraries
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/nirajpalve/Vehicle-Insurance-Prediction/main/Vehicle_Insurance.csv'

In [ ]:
data = pd.read_csv(url)    ## Loading Dataset
data

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28,0,> 2 Years,Yes,40454,26,217,1
1,2,Male,76,1,3,0,1-2 Year,No,33536,26,183,0
2,3,Male,47,1,28,0,> 2 Years,Yes,38294,26,27,1
3,4,Male,21,1,11,1,< 1 Year,No,28619,152,203,0
4,5,Female,29,1,41,1,< 1 Year,No,27496,152,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
149995,149996,Female,27,1,18,0,< 1 Year,Yes,26319,152,78,0
149996,149997,Female,63,1,28,0,1-2 Year,Yes,2630,157,266,0
149997,149998,Female,21,1,30,0,< 1 Year,Yes,28699,160,221,0
149998,149999,Male,23,1,28,1,< 1 Year,No,34803,152,190,0
149999,150000,Male,25,1,31,0,< 1 Year,No,2630,151,289,0

### <font color = ''><span style='color:#0386f7de'>|</span> About The Dataset <a id="prep"></a></font>

-`Attribute Information`

- `1) Id: Unique ID for the customer.`
- `2) Gender: "Male", "Female".`
- `3) Age: Age of the customer.`
- `4) Driving_License 0 : Customer does not have DL, 1 : Customer already has DL.`
- `5) Region_Code: Unique code for the region of the customer.`
- `6) Previously_Insured 1 : Customer already has Vehicle Insurance, 0 : Customer doesn't have Vehicle Insurance.`
- `7) Vehicle_Age: Age of the Vehicle.`
- `8) Vehicle_Damage 1 : Customer got his/her vehicle damaged in the past. 0 : Customer didn't get his/her vehicle damaged in the past.`
- `9) Annual_Premium: The amount customer needs to pay as premium in the year.`
- `10) PolicySalesChannel: Anonymized Code for the channel of outreaching to the customer ie. Different Agents, Over Mail, Over Phone, In Person, etc.`
- `11) Vintage: Number of Days, Customer has been associated with the company.`
- `12) Response 1 : Customer is interested, 0 : Customer is not interested.`

## <font color = ''><b>2 <span style='color:#0386f7de'>|</span> Exploratory Data Analysis(EDA) <a id="prep"></a></font>

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    150000 non-null  int64
 1   Gender                150000 non-null  object
 2   Age                   150000 non-null  int64
 3   Driving_License       150000 non-null  int64
 4   Region_Code           150000 non-null  int64
 5   Previously_Insured    150000 non-null  int64
 6   Vehicle_Age           150000 non-null  object
 7   Vehicle_Damage        150000 non-null  object
 8   Annual_Premium        150000 non-null  int64
 9   Policy_Sales_Channel  150000 non-null  int64
 10  Vintage               150000 non-null  int64
 11  Response              150000 non-null  int64
dtypes: int64(9), object(3)
memory usage: 13.7+ MB

In [ ]:
data.shape

(150000, 12)

In [ ]:
data.drop('id', axis = 1, inplace = True)  ## Removing 'id' column from the data.

In [ ]:
data.describe()

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000
mean,38.827973,0.997893,26.387500,0.457087,30510.808867,112.087740,154.403080,0.122633
std,15.511281,0.045850,13.238306,0.498157,17246.406405,54.176153,83.717857,0.328017
min,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,25.000000,1.000000,15.000000,0.000000,24373.000000,29.000000,82.000000,0.000000
50%,36.000000,1.000000,28.000000,0.000000,31619.000000,135.000000,154.000000,0.000000
75%,49.000000,1.000000,35.000000,1.000000,39369.000000,152.000000,227.000000,0.000000
max,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

## <font color = ''><b>3<span style='color:#0386f7de'>|</span> Data Visualization <a id="prep"></a></font>